body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: purple;
    color: white;
    padding: 10px 20px;
}
.top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-menu, .right-menu {
    display: flex;
    align-items: center;
}

.left-menu a, .right-menu a {
    text-decoration: none;
    color: white;
    padding: 5px 15px;
    margin: 0 10px;
}

.left-menu a:hover, .right-menu a:hover {
    background-color: #555;
}
.travel-world{
    background-color: #555;
    font-size: 24px;
    margin: 0;
    padding: 10px;
    text-align: center;
    color: white;
    position: relative;
}
.world {
    color: yellow;
}

.search-container {
    background-color: white;
    display: inline-block;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-container input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.search-container button {
    padding: 5px 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
